* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font_inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Nav Bar Design*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 120px;
}
.nav_ul {
  list-style-type: none;
  gap: 32;
  width: 365px;
  height: 24px;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32;
  font-size: 16px;
  font-style: Medium;
  font-weight: 500;
  letter-spacing: 0%;
}

ul li:hover {
  text-shadow: 1px 1px rgb(168, 169, 168);
}
.logo {
  height: 60px;
  width: 139px;
}

.nav_btn {
  width: 164px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10;
  padding: 12px 16px;
  background-color: #30b868;
  border: none;
  color: white;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  border-radius: 4px;
}

button.nav_btn:hover {
  width: 164px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10;
  padding: 12px 16px;
  background-color: #136233;
  border: none;
  color: white;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  border-radius: 4px;
  box-shadow: 2px 2px Green;
}

/*Hero Section Design*/

.hero-section {
  text-align: center;
  padding: 100px 20px;
  background-image: url(assets/hero-bg.png);
  width: auto;
  height: auto;
  background-repeat: no-repeat;
}

.white-text {
  display: inline-block;
  background: #e6fff3;
  color: #047857;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 16px;
  font-style: Medium;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: center;
}
.circle-img {
  height: 16px;
  width: 16px;
}
.hero-section h1 {
  font-size: 40px;
  margin: 20px 0;
  color: #ffffff;
}

h1 span {
  color: #22c55e;
}

.text {
  max-width: 600px;
  margin: 0 auto 30px;
  color: #cbd5e1;
}

button {
  padding: 12px 18px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

button.btn-border:hover {
  padding: 12px 18px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-style: Semi Bold;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  box-shadow: 2px 2px Green;
}

button.btn-green:hover {
  padding: 12px 18px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-style: Semi Bold;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  box-shadow: 2px 2px rgb(77, 137, 210);
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.btn-green {
  background: #2fb667;
  border: none;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
  height: 44px;
}

.btn-border {
  background: transparent;
  border: 1px solid #475569;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
  height: 44px;
}

/*Card Section*/
.notes-section {
  padding: 80px 20px;
  text-align: center;
}

.notes-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.note-des {
  color: #64748b;
  max-width: 700px;
  margin: 0 auto 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  background: #f8fafc;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px;
}

.card:hover {
  background: #ffffff;
  cursor: pointer;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px #2fb667;
}

.icon {
  border-radius: 50%;
  margin-left: 36%;
  height: 50px;
  width: 50px;
  font-size: 30px;
  margin-bottom: 15px;
  background: rgba(249, 85, 85, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #475569;
}
/*Solution Section*/
.solution {
  display: flex;
  gap: 60px;
  padding: 60px 40px;
  max-width: 1300px;
  margin-left: 140px;
  align-items: center;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.circle {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 3px solid #22c55e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.circle {
  height: 600px;
  width: 600px;
}
.circle img:hover {
  height: 600px;
  width: 600px;
  box-shadow: 5px 5px #64748b;
}
.right {
  width: 700px;
}

.small-title {
  color: #22c55e;
  font-size: 13px;
  font-style: Medium;
  margin-bottom: 10px;
}

.solution h2 {
  font-size: 48px;
  margin-bottom: 15px;
  width: 600px;
}

.desc {
  color: #64748b;
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.bullet-point {
  margin-top: 40px;
}
