* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font_inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Nav Bar Design*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 120px;
}
.nav_ul {
  list-style-type: none;
  gap: 32;
  width: 365px;
  height: 24px;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32;
  font-size: 16px;
  font-style: Medium;
  font-weight: 500;
  letter-spacing: 0%;
}
.logo {
  height: 60px;
  width: 139px;
}

.nav_btn {
  width: 164px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10;
  padding: 12px 16px;
  background-color: #30b868;
  border: none;
  color: white;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  border-radius: 4px;
}

/*Hero Section Design*/

.hero-section {
  text-align: center;
  padding: 100px 20px;
  background-image: url(assets/hero-bg.png);
  width: auto;
  height: auto;
  background-repeat: no-repeat;
}

.white-text {
  display: inline-block;
  background: #e6fff3;
  color: #047857;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 16px;
  font-style: Medium;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: center;
}
.circle-img {
  height: 16px;
  width: 16px;
}
h1 {
  font-size: 40px;
  margin: 20px 0;
}

h1 span {
  color: #22c55e;
}

.text {
  max-width: 600px;
  margin: 0 auto 30px;
  color: #cbd5e1;
}

button {
  padding: 12px 18px;
  margin: 5px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.btn-green {
  background: #22c55e;
  border: none;
  color: #022c22;
}

.btn-border {
  background: transparent;
  border: 1px solid #475569;
  color: white;
}
